@forward 'colors';
@forward 'media';
@forward 'text';
@forward 'container';

@mixin reset() {
	*,
	::before,
	::after {
		box-sizing: border-box;
		font-family: 'Poppins', sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: 'Poppins', sans-serif;
		margin: 0;
	}

	body {
		margin: 0;
	}
}

@mixin reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin root() {
	:global(#top #wrap_all #root) {
		@content;
	}
}
