$theme: 'default';

$blue-300: #196fd9;
$blue-350: #196ed9;
$blue-400: #014e89;
$blue-700: #063060;

$blue-100: #46a8c3;
$blue-150: #0b2349;
$yellow-100: #fff8c0;
$purple-100: #9568c3;
$purple-150: #4a54ad;
$orange-100: #ff8f4f;

$grey-75: #f9f9f9;
$grey-100: #f2f2f2;
$grey-150: #e7e7e7;
$grey-200: #c4cbcf;
$grey-250: #b1b1b1;
$grey-400: #5f7380;
$grey-600: #313b42;
$grey-650: #35383c;
$grey-700: #282b2e;
$grey-900: #231f20;

$yellow-400: #ffca09;
$red-400: #fa450e;
$green-400: #14b37d;

// green     #70b17f
// lightblue #243b55
// darkblue  #131e30

@function colors($name, $alpha: 1) {
	$colors: (
		'dark-bg': #161616,
		'blue-100': #46a8c3,
		'blue-150': #0b2349,
		'purple-100': #9568c3,
		'purple-150': #4a54ad,
		'yellow-100': #fef7c9,
		'orange-100': #ff8f4f,
		'green-bg': #002132,

		'blue-300': #196fd9,
		'blue-350': #196ed9,
		'blue-400': #014e89,
		'blue-700': #063060,
		'teal-350': #218fa6,
		'teal-400': #007cba,
		'grey-75': #f9f9f9,
		'grey-100': #f2f2f2,
		'grey-150': #e7e7e7,
		'grey-200': #c4cbcf,
		'grey-250': #b1b1b1,
		'grey-300': #728896,
		'grey-400': #5f7380,
		'grey-600': #313b42,
		'grey-650': #35383c,
		'grey-700': #282b2e,
		'grey-900': #231f20,
		'yellow-400': #ffca09,
		'red-300': #f76823,
		'red-400': #fa450e,
		'green-350': #16b37d,
		'green-400': #14b37d,
		'orange-400': #ffa10b,
		'purple-400': #8754a1
	);

	$color: map-get($colors, $name);
	@if not $color {
		$color: #000;
	}

	@return rgba($color, $alpha);
}
